.footer {
  color: #fff;
  text-align: center;
  padding: 10px;
  height: 100%;
  background: linear-gradient(180deg, #D94A1E 0%, #a03c1c 100%);
  /* Orange gradient */
}

.footer-outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.footer-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;

}

.footer-item {
  min-width: 150px;
  line-height: 50px;
  text-align: center;
}

.footer-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: opacity 0.3s ease;
}

.footer-item a:hover {
  opacity: 0.8;
}


@media (max-width: 600px) {
  .footer-item {
    min-width: 150px;
    line-height: 40px;
  }
}