<div class="row footer">
    <div class="footer-outer-container">
        <div class="footer-container" style="border-bottom: 1px solid white;">
            <!-- First row of five columns -->
            <div class="footer-item"><a href="about.html">About</a></div>
            <div class="footer-item"><a href="committee.html">Committees</a></div>

            <div class="footer-item"><a href="call.html">Call for Papers</a></div>
            <div class="footer-item"><a href="authors.html">For Authors</a></div>

            <div class="footer-item"><a href="https://submission.su-iceit2026.org/">Submission</a></div>
            <div class="footer-item"><a href="registration.html">Registration</a></div>
        </div>
        <div class="footer-container">
            <!-- Second row of five columns -->
            <div class="footer-item">©2026 SU-ICEIT2026</div>
            <div class="footer-item"><a href="mailto:info@SU-ICEIT2026.org" target="su">email:
                    su-iceit@su.edu.krd</a>
            </div>
        </div>
    </div>
</div>